
*{
    font-family: 'Rock Salt', cursive;
    color: #000000;
}

/* h1{
    
} */
body{
    background-color: #b8ddfc;
}
select{
    display: block;
    margin: 0 auto;
    width: 60%;
}
#heading{

    margin:5%;
}

.title{
    color:#eff783;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    text-align: center;
}
#profile{
    margin-top:10%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}
#friend-zone{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.friend-title{
    margin-top: 30%;
    display: block;
}
.friend {
    max-width: 12.5em;
    max-height: 12.5em;
    margin:5%;
    text-align: center;
}

.friend-pic {
    
    width: 100%;
    height: 100%;
    animation: slide-up 0.4s ease;
}
.text-right{
    margin-top:5%;
}
.page-button{
    border-style:groove;
    border-width:1%;
    border-radius: 25px;
    padding:1%;
    margin:3%;
    background-color: #eeff00;
    color:#000000;
}
.page-button:hover{
    opacity: 0.5;
}
#survey-holder{
    text-align: center;
}
.form-group{
    text-align: center;
    font-size: 1.2em;
}
.form-control{
    margin: auto;
    width:60%;
}
@media (min-width: 481px) and (max-width: 780px) {
    .friend-title{
        margin-top:45%;
        display: block;
    }
    h2{
        font-size:1.5em;
    }
    .form-group{
        font-size:1em;
    }
    .page-button{
        display:block;
        margin:auto;
        margin-bottom:5%;
        z-index: 2;
    }
   
  
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .friend{
        margin:8%;
    }
    .page-button{
        display:block;
        margin:auto;
        margin-bottom:5%;
    }

    
  }
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
